@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #080920;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc_container {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 10px;
}


.acc_box{
    width: 100%;
    background-color: #1c1555;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
}

.acc_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.heading{
    font-size: 18px;
}

.symbol{
    font-size: 20px;
    
}

.acc_text{
    max-height: 0;
    overflow: hidden;
}
.acc_text p{
    font-size: 14px;
    padding-top: 10px;
    transition: all .4s ease-in-out;
}

.acc_box.active {
    background-color: white;
    color: black;

}

.acc_box.active .heading{
    font-weight: 500;

}

.acc_box.active .acc_text{
    max-height: 100vh;
    transition: all 0s ease-in-out;
}